.book {
  background-size: 100% 85%;
  background-image: url('../img/book.png');
}

h2 {
  text-align: center;
}

.black {
  background-size: 100%;
  background-image: url('../img/black.jpg');
}

.devices {
  background-size: 100%;
  background-image: url('../img/devices.png');
}

.demo {
  background-size: 100% 85%;
  background-image: url('../img/demo.jpg');
}

.example {
  background-size: 100%;
  background-image: url('../img/example.png');
}

.folks {
  background-size: 100%;
  background-image: url('../img/folks.jpg');
}

.toolset {
  background-size: 100%;
  background-image: url('../img/toolset.jpg');
}

.toolset h2 {
  color: black !important;
  background: #CED2BB;
}

.book h1 {
  padding-top: 15% !important;
  padding-left: 25% !important;
  color: black !important;
}

.fullscreen .state-background {
  width: 100%;
  height: 100%;
}

.fullscreen .reveal:not(.overview) .slides {
  margin: 0px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  right: 0px;
  top:0px;
  bottom: 0px;
}

.fullscreen .reveal:not(.overview) .slides > section {
  position: absolute;
  width: 70%;
  height: 100%;
  min-height: 100%;
  text-align: left;
  left: 0px;
  right: 0px;
  top: 0px !important;
  bottom: 0px;
  margin:0px; 
  padding-top: 15%;
  padding-left: 20%;
  padding-right: 10%;
}

.fullscreen .reveal:not(.overview) .slides > section > section {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  min-height: 100%;
  margin: 0px;
  text-align: left;
  padding:20px;
  padding-top: 40px;
}